
<div id="copyright">
    <table>
    	<tr>
    		<td><img src="/images/bottom_logo.png" alt="bottom_logo" class="bottom_logo" /></td>
    		<td>
    			Samsung Software Membership | 팀원: 신동욱, 권혜성, 김지수  | 문의: huohuohuo@nate.com <br/>
    			이 서비스의 모든 콘텐츠는 Samsung Software Membership의 지적재산권으로 법의 보호를 받습니다.<br/><br/>
    			<span class="bold">CopyRight(c) by <span class="bold blue">Samsung </span><span class="bold red">Software </span><span class="bold black">Membership</span>. All rights reserved.</span>
    		</td>
    	</tr>
    </table>
</div>