<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">

<title><%= title %></title>

<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <script src="/javascripts/jquery.js"></script>

<!-- styles -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css" /><!--기본 스타일-->
<link href="/stylesheets/style.css" rel="stylesheet">
