<!DOCTYPE html>
<head>
    <% include ../header.ejs %>
    <script type="text/javascript">
        $(document).ready(function(){
            alert('ID와 비밀번호를 확인해주세요');
            window.location.href='/';
        });
    </script>
</head>
<body>
</body>

