<!DOCTYPE html>
<head>
    <% include ../header.ejs %>
</head>
<html>
    <head>
		<meta charset="UTF-8">
		<title>회원가입페이지</title>
	</head>
	<body>
		<div id="join_member_wrap ">
            <div id="top">
        		<% include ../top.ejs %>
        	</div>
        	<div id="center">
    	        <div class="provision">
                    <h1>서비스 이용약관</h1>
                	<textarea readonly>
< 본 약관은 스포츠토토온라인 서비스를 위한 약관입니다.>

제1조 (목적)
본 약관은 스포츠토토온라인㈜(이하 ‘회사’라 한다)이 제공하는 베트맨 서비스(이하 ‘서비스’라 한다)와 제휴사를 통한 콘텐츠 및 서비스(이하 ‘제휴 서비스’라 한다)를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다. 


제2조 (용어의 정의)
① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다. 
1. ’서비스’라 함은 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 회원이 이용할 수 있는 베트맨 및 베트맨 관련 제반 서비스를 의미합니다. 
2. ‘회원’이라 함은 서비스를 제공받기 위해 회사와 이용계약을 체결하고 이용자 아이디를 부여 받은 자를 말합니다. 
3. ‘이용계약’이라 함은 서비스 이용과 관련하여 회사와 이용자 간에 체결하는 계약을 말합니다. 
4. ‘이용자 아이디’라 함은 회원의 식별과 회원의 서비스 이용을 위해 회원이 선정하고 회사가 승인하는 문자와 숫자의 조합을 말합니다. 
5. ‘비밀번호’라 함은 회원이 사용하는 이용자 아이디와 일치된 회원임을 확인하고 회원의 권익 및 비밀을 보호하기 위해 회원이 설정한 문자와 숫자의 조합을 말합니다. 
6. ‘벳머니’라 함은 회원이 인터넷을 통해 회사가 제공하는 상품 또는 서비스를 구매하거나, 기부할 수 있는 결제수단으로, 특별 이벤트를 통해 구매 금액의 일정 비율이 적립되거나 이벤트 참여를 통해 적립할 수 있는 마일리지를 말합니다. 
7. ‘예치금’이라 함은 회원이 인터넷을 통해 회사가 판매하는 상품 또는 서비스를 구매하거나, 기부할 수 있는 결제수단으로 회사가 정하는 방식에 따라서 금액을 예치하여 이용할 수 있으며, 환급 및 환불금액을 포함합니다. 
8. ‘해지’라 함은 회사 또는 회원이 이용계약을 해약하는 행위를 말합니다. 
9. ‘투표권’이라 함은 국민체육진흥법에서 지정한 체육진흥투표권을 말합니다. 
10. ‘제휴사’라 함은 회사와 이용계약을 체결하고 베트맨을 통해 게임 등의 콘텐츠를 제공하는 자를 말합니다. 
11. ‘제휴서비스’라 함은 제휴사의 게임 등의 콘텐츠를 베트맨을 통해 서비스 하는 경우를 지칭하며 서비스 이용 시 해당 제휴사의 사이트에 동시 가입 됩니다. 
12 ‘게시물’이라 함은 회원이 서비스를 이용함에 있어 서비스상에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다. 
② 본 약관에서 사용하는 용어의 정의는 제1항에서 정하는 것을 제외하고는 관계 법령 및 서비스 운영 기준에서 정하는 바에 의합니다. 


제3조 (약관의 게시와 개정)
① 회사는 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 이메일 등) 등을 이용자가 알 수 있도록 서비스의 초기화면에 게시합니다. 
② 회사는 "약관의규제에관한법률", "정보통신망이용촉진및정보보호등에관한법률(이하 "정보통신망법")" 등 관련 법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다. 
③ 회사는 본 약관을 개정할 경우, 적용일자 및 개정사유를 명시하여 현행 약관과 함께 서비스의 초기화면 및 공지사항에 그 적용일자 7일 전부터 적용일자 전일까지 공지합니다. 단, 회원에게 불리한 약관개정일 경우에는 공지 외에 이메일, 쪽지, 로그인시 동의 창 등의 전자적 수단을 통해 별도 통지하도록 합니다. 
④ 회사가 전항에 따라 개정약관을 공지 또는 통지하면서 회원에게 7일 기간 내에 의사표시를 하지 않으면 의사표시가 표명된 것으로 본다는 뜻을 명확하게 따로 공지 또는 고지하였음에도 회원이 명시적으로 거부의사를 표시하지 아니한 경우, 회원이 개정약관에 동의한 것으로 봅니다. 
⑤ 회원이 개정약관의 적용에 동의하지 않은 경우, 회사는 개정약관의 내용을 적용할 수 없으며, 이 경우, 회원은 이용계약을 해지할 수 있습니다. 다만, 기존약관을 적용할 수 없는 특별한 사정이 있는 경우에는 회사는 이용계약을 해지할 수 있습니다. 이 경우, 회사는 회원에게 이용계약의 해지로 발생한 손해를 배상할 책임이 있습니다. 


제4조 (약관의 해석)
본 약관에서 명시하지 않은 사항은 전기통신사업법 등 관계 법령과 상관습에 따릅니다.


제5조 (이용계약의 성립)
① 이용계약은 이용자의 본 약관에 대한 동의와 이용신청에 대해 회사가 이를 승낙함으로써 성립합니다. 
② 이용신청 당시, 이용자가 회원가입 페이지의 ‘동의’를 클릭하면 본 약관에 동의한 것으로 간주됩니다. 


제6조 (서비스 이용신청)
① 회원으로 가입하여 본 서비스를 이용하고자 하는 자는 회사에서 요청하는 정보(이름, 주민등록번호, 연락처 등)를 제공하여야 합니다. 
② 모든 회원은 반드시 회원 본인의 이름과 주민등록번호(또는 아이핀 인증번호)를 제공하여야만 서비스를 이용할 수 있으며, 실명으로 등록하지 않은 사용자는 일체의 권리를 주장할 수 없습니다. 
③ 타인의 명의(이름 및 주민등록번호, 아이핀 인증번호)를 도용하여 이용신청을 한 회원의 모든 아이디는 삭제되며, 관계법령에 따라 처벌을 받을 수 있습니다. 


제7조 (이용계약 체결)
① 회사는 제6조의 규정에 따라 서비스 이용신청을 한 자에 대해, 업무 수행상 또는 기술상 지장이 없는 한, 원칙적으로 접수순서에 따라 서비스 이용을 승낙합니다. 
② 회사는 아래 각 호에 해당하는 경우, 서비스 이용을 승낙하지 아니합니다. 
1. 실명이 아니거나 타인의 명의를 이용한 경우 
2. 허위정보를 기재하거나, 회사가 제시하는 내용을 기재하지 않은 경우 
3. 사회의 안녕과 질서, 미풍양속을 저해할 목적으로 신청한 경우 
4. 이용자의 귀책사유로 인해 승인이 불가능하거나 기타 규정한 제반사항을 위반하며 신청하는 경우
5. 이용신청을 한 자가 「청소년보호법」 제2조제1호에 따른 청소년(이하 '청소년'이라고 함)인 경우
③ 회사는 서비스 이용신청이 다음 각 호에 해당하는 경우에는 그 신청에 대해 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다. 
1. 회사가 업무 수행상 승낙이 곤란한 경우 
2. 회사의 기술상 지장이 있는 경우 


제8조 (회원정보의 변경)
①회원은 개인정보화면을 통해 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 필요한 실명, 주민등록번호, 아이디 등은 수정이 불가능합니다. 
②.회원은 회원가입신청 시 기재한 사항이 변경되었을 경우, 온라인으로 수정을 하거나 이메일 등의 기타 방법으로 "회사"에 대해 그 변경사항을 알려야 합니다.
③ 제2항의 변경사항을 회사에 알리지 않아 발생한 불이익에 대해 회사는 책임지지 않습니다. 


제9조 (개인정보보호 의무)
회사는 “정보통신망법” 등 관계 법령이 정하는 바에 따라 회원 등록정보를 포함한 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련법 및 회사의 개인정보취급방침이 적용됩니다. 단, 회사의 공식사이트 이외의 링크된 사이트에서는 회사의 개인정보취급방침이 적용되지 않습니다. 또한 회사는 회원의 귀책사유로 인해 노출된 정보에 대해서 일체의 책임을 지지 않습니다. 


제10조 (이용자 아이디 부여 및 변경)
① 회사는 이용고객에 대해 약관에 정하는 바에 따라 이용자 아이디를 부여합니다. 
② 이용자아이디는 원칙적으로 변경이 불가하며 부득이한 사유로 인해 변경하고자 하는 경우에는 해당 아이디를 해지하고 재가입해야 합니다. 
③ 이용자아이디는 이용자 본인의 동의 하에 회사가 운영하거나 제휴관계에 있는 사이트의 회원아이디와 연결될 수 있습니다. 
④ 회원의 아이디와 비밀번호에 관한 관리책임은 회원에게 있으며, 이를 제3자가 이용하도록 하여서는 안됩니다. 
⑤ 회사는 회원의 아이디가 개인정보 유출의 우려가 있거나, 반사회적 또는 미풍양속에 어긋나거나 회사 및 회사의 운영자로 오인할 우려가 있는 경우, 해당 아이디의 이용을 제한할 수 있습니다. 
⑥ 회원은 아이디 및 비밀번호가 도용되거나 제3자가 사용하고 있음을 인지한 경우에는 이를 즉시 회사에 통지하고 회사의 안내에 따라야 합니다. 
⑦ 제6항의 경우에 해당 회원이 회사에 그 사실을 통지하지 않거나, 통지한 경우에도 회사의 안내에 따르지 않아 발생한 불이익에 대해 회사는 책임지지 않습니다. 
⑧ 기타 이용자 개인정보 관리 및 변경 등에 관한 사항은 서비스별 안내에 정하는 바에 따릅니다. 


제11조 (회원에 대한 통지)
① 회사가 회원에 대한 통지를 하는 경우, 이 약관에 별도 규정이 없는 한 회원이 지정한 이메일, 서신우편, 휴대폰, 휴대폰문자메세지, 유선전화, 서비스 내 팝업 등으로 할 수 있습니다. 
② 회사는 불특정다수 회원 및 회원 전체에 대한 통지의 경우, 7일 이상 서비스 페이지에 게시함으로써 개별 통지에 갈음할 수 있습니다. 


제12조 (회사의 의무)
① 회사는 관련법과 본 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 계속적이고 안정적으로 서비스를 제공하기 위해 최선을 다하여 노력합니다. 
② 회사는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보보호를 위해 보안시스템을 갖추어야 하며, 개인정보취급방침을 공시하고 이를 준수합니다. 
③ 회사는 서비스 이용과 관련하여 회원으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리하여야 합니다. 회원이 제기한 의견이나 불만사항에 대해서는 게시판을 활용하거나 이메일 등을 통해 회원에게 처리과정 및 결과를 전달합니다. 


제13조 (회원의 의무)
① 회원은 회원가입 신청 또는 개인정보 변경 시 실명으로 모든 사항을 사실에 근거하여 작성해야 하며, 허위 또는 타인의 정보를 등록할 경우, 일체의 권리를 주장할 수 없습니다. 
② 회원은 본 약관에서 규정하는 사항과 기타 회사가 정한 제반 사항 및 관계법령을 준수하여야 하며, 기타 회사의 업무에 방해가 되는 행위, 회사의 명예를 손상시키는 행위를 해서는 안됩니다. 
③ 회사가 관계법령 및 개인정보취급방침에 의거하여 그 책임을 지는 경우를 제외하고 회원에게 부여된 아이디의 비밀번호 관리소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 책임은 회원에게 있습니다. 
④ 회원은 회사의 사전 승낙 없이 서비스를 이용하여 영업활동을 할 수 없으며, 그 영업활동의 결과에 대해 회사는 책임을 지지 않습니다. 또한 회원은 이와 같은 영업활동으로 회사가 손해를 입은 경우, 회사에 대해 손해배상의무를 지며, 회사는 해당 회원에 대해 서비스 이용제한 및 적법한 절차를 거쳐 손해배상 등을 청구할 수 있습니다. 
⑤ 회원은 회사의 명시적 동의가 없는 한 서비스의 이용권한, 기타 이용계약상의 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다. 
⑥ 회원은 회사 및 제 3자의 지적재산권을 침해해서는 안됩니다. 
⑦ 체육진흥투표권 유사 행위를 위한 경기정보 제공 또는 유사 행위의 홍보 및 중개, 알선 행위를 할 수 없습니다.
⑧ 회원은 다음 각 호에 해당하는 행위를 하여서는 안됩니다. 회사는 회원이 다음 각 호의 행위를 하였을 경우, 서비스의 이용을 제한할 수 있으며, 해당회원은 적법조치를 포함한 제재를 받을 수 있습니다. 
1. 회원가입 신청 또는 개인정보 변경 시 허위내용을 등록하는 행위 
2. 다른 이용자의 아이디, 비밀번호, 주민등록번호(또는 아이핀 인증 번호)를 도용하는 행위 
3. 이용자 아이디를 타인과 거래하는 행위 
4. 회사의 운영진, 직원 또는 관계자를 사칭하는 행위 
5. 회사로부터 특별한 권리를 부여받지 않고 회사의 클라이언트 프로그램을 변경하거나, 회사의 서버를 해킹하거나, 웹사이트 또는 게시된 정보의 일부분 또는 전체를 임의로 변경하는 행위 
6. 서비스에 위해를 가하거나 고의로 방해하는 행위 
7. 본 서비스를 통해 얻은 정보를 회사의 사전 승낙 없이 서비스 이용 외의 목적으로 복제하거나, 이를 출판 및 방송 등에 사용하거나, 제 3자에게 제공하는 행위 
8. 공공질서 및 미풍양속에 위반되는 저속, 음란한 내용의 정보, 문장, 도형, 음향, 동영상을 전송, 게시, 이메일 또는 기타의 방법으로 타인에게 유포하는 행위 
9. 모욕적이거나 개인신상에 대한 내용이어서 타인의 명예나 프라이버시를 침해할 수 있는 내용을 전송, 게시, 이메일 또는 기타의 방법으로 타인에게 유포하는 행위 
10. 다른 이용자를 희롱 또는 위협하거나, 특정 이용자에게 지속적으로 고통 또는 불편을 주는 행위 
11. 회사의 승인을 받지 않고 다른 이용자의 개인정보를 수집 또는 저장하는 행위 
12. 범죄와 결부된다고 객관적으로 판단되는 행위 
13. 본 약관을 포함하여 기타 회사가 정한 제반 규정 또는 이용 조건을 위반하는 행위 
14. 기타 관계법령에 위배되는 행위 


제14조 (서비스의 제공 등)
① 회사는 본 서비스를 이용하는 회원을 등급별로 구분하여 이용시간, 이용회수, 서비스 메뉴 등의 이용에 차등을 둘 수 있습니다. 
② 서비스는 연중무휴, 1일 24시간 제공함을 원칙으로 합니다. 
③ 회사는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우, 서비스의 제공을 일시적으로 중단할 수 있습니다. 이 경우 회사는 제11조(회원에 대한 통지)에 정한 방법으로 회원에게 통지합니다. 다만, 회사가 사전에 통지할 수 없는 부득이한 사유가 있는 경우, 사후에 통지할 수 있습니다. 
④ 회사는 서비스를 특정범위로 분할하여 각 범위별로 이용가능시간을 별도로 지정할 수 있습니다. 다만 이 경우 그 내용을 공지합니다. 
⑤ 회사는 서비스의 제공에 필요한 경우, 정기점검을 실시할 수 있으며, 정기점검시간은 서비스제공화면에 공지한 바에 따릅니다. 


제15조 (서비스의 변경) 
① 회사는 기술 및 운영상 상당한 이유가 있는 경우, 서비스의 전부 또는 일부를 변경할 수 있습니다. 
② 서비스의 내용, 이용방법, 이용시간에 대해 변경이 있는 경우에는 해당 서비스 초기화면에 변경사유, 변경될 서비스의 내용 및 제공일자 등을 변경되기 최소 7일 이전부터 게시하여야 합니다. 
③ 회사는 무료로 제공되는 서비스의 일부 또는 전부를 회사의 정책 및 운영의 필요상 수정, 중단, 변경할 수 있으며, 이에 대해 관련법에 특별한 규정이 없는 한 회원에게 별도의 보상을 하지 않습니다. 


제16조 (구매계약) 
① 청소년을 제외한 실명인증 회원만이 투표권을 구매할 수 있는 자격을 부여 받게 됩니다. 청소년은 적중되더라도 적중금을 지급 받지 못합니다.
② 실명이 아니거나 타인의 개인정보를 도용하여 투표권을 구매한 회원은 적중 되더라도 적중금을 지급 받을 수 없습니다. 
③ 회사는 회원이 다음 각호에 해당하는 경우, 구매신청을 승낙하지 않을 수 있으며, 해당회원은 구매를 하여 적중이 되더라도 적중금을 지급받을 수 없습니다. 
1. 신청 내용에 허위, 기재누락, 오기가 있는 경우 
2. 청소년이 투표권을 구입하는 경우
3. 체육진흥투표권 발행사업자 및 수탁사업자가 투표권을 구입하는 경우 
4. 체육진흥투표권 발행사업에 관하여 감독의 지위에 있는 자가 투표권을 구입하는 경우 
5. 체육진흥투표권 발행대상 운동경기의 선수ㆍ감독ㆍ코치ㆍ심판 및 경기단체의 임직원이 투표권을 구입하는 경우 
6. 체육진흥투표권 발행대상 운동경기를 주최하는 단체의 임직원이 투표권을 구입하는 경우 
7. 기타 체육진흥투표권 발행사업에 종사하는 자가 투표권을 구입하는 경우 
8. 기타 구매신청에 승낙하는 것이 기술상 현저히 지장이 있다고 판단하는 경우 
④ 회사는 회원의 구매신청이 있는 경우, 회원에게 회원이 동의한 방법을 이용하여 그 내역을 통지합니다. 
⑤ 회사의 승낙이 회원에게 도달한 시점에 계약이 성립한 것으로 봅니다. 


제17조 (결제 및 구매신청 취소)
① 베트맨에서 구매한 투표권에 대한 대금 결제 방법은 회사에서 제공하는 결제수단 중 가용한 방법으로 할 수 있으며, 회사 사정에 따라 결제 방법을 변경하여 제공할 수 있습니다. 
② 결제 및 구매 확인 통지를 받은 회원은 의사표시의 불일치 등의 사유가 있는 경우에는 통지를 받은 후 즉시 운영자에게 확인을 요구하거나 이의를 요청할 수 있습니다. 
③ 회사는 회원의 이의신청에 대해 그 결과를 가능한 빨리 통보하고, 즉시 통보하기 곤란한 사항일 경우, 그 사유 및 결과의 통보가능시한을 회원에게 알려주기 위해 노력해야 합니다. 다만 회원의 이의신청사항이 서비스 운영과 관계없거나 천재지변, 전산장애, 기타 불가피한 사정으로 인해 처리결과 및 처리불능 사유 등의 통보가 적절하지 않다고 판단되는 경우에는 그 통보를 생략할 수 있습니다. 
④ 구매가 완료된 투표권은 투표권의 특성상 구매신청 취소가 불가능합니다. 


제18조 (환불 및 적중금 환급)
① 우천, 기타 사유로 경기가 취소되어 투표권의 발매가 무효가 될 경우, 투표권 구매금액 만큼 회원본인의 예치금으로 자동 환불됩니다. 이때 벳머니 구매분은 벳머니로 환불됩니다. 
② 발매 무효 사실은 회원이 제출한 이메일 또는 휴대폰문자메세지, 베트맨 서비스 페이지 등을 통해서도 확인할 수 있습니다. 
③ 오류 투표권을 제외하고 어떠한 경우라도 구매가 완료된 금액에 대해서는 환불이 불가능합니다. 
④ 구입한 투표권의 적중여부는 회원이 제출한 이메일 또는 휴대폰문자메세지, 베트맨 서비스 페이지 등을 통해 확인할 수 있으며, 확인을 하지 않아 발생하는 적중금의 수령 불가 등의 불이익에 대해서 회사는 책임을 지지 않습니다. 
⑤ 적중금은 회원 개인정보에 등록되어 있는 적중금 환급방법(예치금과 회원 본인 명의의 은행계좌 입금 중 선택)으로 지급됩니다. 회원 본인 명의의 은행계좌번호에 오류가 발생한 경우, 적중금은 예치금으로 지급됩니다. 적중금 환급방법은 개인정보에서 변경가능하며, 변경된 정보는 다음 구매분부터 적용됩니다. 


제19조 (투표권에 관한 해석)
본 이용약관에 정하지 아니한 투표권에 관한 사항은 국민체육진흥법, 동법 시행령, 시행규칙 및 체육진흥투표권약관에서 정한 바에 따릅니다.


제20조 (기부 서비스의 운영)
① 기부 서비스는 베트맨이 온라인 건전기부 문화를 조성하고자 운영하는 일체의 서비스를 의미합니다. 
② 기부 서비스를 통해 기부를 하고자 하는 회원은 아래와 같이 예치금, 벳머니, 벳볼을 수단으로 기부할 수 있습니다.
1. 예치금 
2. 벳머니 
3. 벳 볼 (벳볼 기부 이벤트를 통해 기부) 
③ 기부 서비스는 회원이 기부금액 및 기타 정보를 입력한 후 신청하고, 베트맨이 이를 승낙함으로써 효력이 발생합니다.
④ 기부를 철회 및 해지하고자 하는 회원은 베트맨에 그러한 의사표시를 전달하고, 베트맨은 7일 이내에 대금의 결제와 동일한 방법으로 환불 처리하여야 합니다. 단, 베트맨은 동일한 방법으로 환불이 불가능한 경우, 이를 사전에 고지하여야 하고, 기부단체로 기부가 이루어진 경우, 철회 및 해지가 제한됩니다. 
⑤ 기부금과 관련하여 본 조항은 타조항에 우선하여 적용됩니다.


제21조 (벳머니와 예치금의 운영)
①벳머니는 베트맨에서 진행하는 특별 이벤트를 통해 구매 금액의 일정 비율이 적립되거나 이벤트 참여를 통해서도 적립할 수 있습니다. 
② 적립한 벳머니는 구매 시 다음 각 호의 규정을 적용 받습니다. 
1. 벳머니는 구매수단 및 회사가 제공하는 각종 유료서비스에서 사용 가능하며, 현금으로 환불 되지 않습니다. 
2. 벳머니는 투표권 구매 시에는 100원부터 사용 가능하며, 기부 시에는 1원부터 사용 가능합니다. 
3. 벳머니는 회사가 정한 기간에 따라 주기적으로 소멸할 수 있습니다. 
③ 회원이 투표권을 구입하기 위해 회사에서 제공하는 결제수단 중 가용한 방법을 이용하여 미리 일정 금액을 입금하거나 결제하면 회사는 해당 금액을 예치금에 적립합니다. 
④ 예치금은 투표권 구입과 회사가 제공하는 각종 유료서비스 이용 및 기부를 위해 사용할 수 있습니다. 
⑤ 예치금에 대하여는 이자가 발생하지 않습니다. 
⑥ 예치금은 사용금액 및 기간에 상관없이 출금가능합니다. 단, 적중금과 경기취소 및 구매오류로 인한 환불금을 제외한 예치금은 결제대행수수료 차감 후 출금됩니다. 


제22조 (유료서비스)
① 회사가 제공하는 서비스의 이용은 기본적으로 무료입니다. 
② 회사에서 정한 별도의 정보 및 서비스에 대해서는 유료로 제공할 수 있습니다. 
③ 유료 서비스의 소유권은 회사에 있으며, 이에 대한 사용권은 해당 콘텐츠를 구매한 회원에게 있습니다. 즉 회원은 회사가 제공하는 콘텐츠를 일정 기간 동안 사용할 권한을 갖는 것이며 이를 회사가 정한 방법 이외의 방법으로 양도, 판매할 수 없습니다. 


제23조 (게시물의 관리)
① 회원의 게시물이 "정보통신망법" 및 "저작권법"등 관련법에 위반되는 내용을 포함하는 경우, 권리자는 관련법이 정한 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수 있으며, 회사는 관련법에 따라 조치를 취하여야 합니다. 
② 회사는 전항에 따른 권리자의 요청이 없는 경우라도 다음 각 호에 해당하는 게시물에 대해 사전통지 없이 삭제하거나 이동 또는 등록 거부를 할 수 있습니다. 
1. 다른 회원 또는 제 3자에게 심한 모욕을 주거나 명예를 손상시키는 내용인 경우 
2. 공공질서 및 미풍양속에 위반되는 내용인 경우 
3. 불법복제 또는 해킹을 조장하는 내용인 경우 
4. 영리ㆍ비영리를 목적으로 하는 광고일 경우 
5. 체육진흥투표권 유사 행위를 홍보하거나 그 구매를 중개 또는 알선하는 행위
6. 범죄와 결부된다고 객관적으로 인정되는 내용일 경우
7. 다른 이용자 또는 제 3자의 저작권 등 기타 권리를 침해하는 내용인 경우 
8. 회사에서 규정한 게시물 운영정책에 어긋나거나, 게시판 성격에 부합하지 않는 경우 
9. 기타 관계법령에 위배된다고 판단되는 경우 


제24조 (게시물에 대한 저작권)
① 회원이 서비스 내에 게시한 게시물의 저작권은 해당 게시물의 저작자에게 귀속됩니다. 또한 회사는 저작자의 동의 없이 게시물을 상업적으로 사용할 수 없습니다.
② 회원은 서비스를 이용하여 취득한 정보를 임의 가공, 판매하는 행위 등 서비스에 게재된 자료를 상업적으로 사용할 수 없습니다.
③ 회원이 게시하는 게시물은 서비스 페이지와 서비스 프로모션 등에 게시될 수 있습니다. 


제25조 (정보의 제공 및 광고의 게재)
① 회사는 회원에게 서비스 이용에 필요하다고 인정되는 다양한 정보를 공지사항, 이메일, 휴대폰문자메세지, 휴대폰 등의 방법으로 회원에게 제공할 수 있습니다. 다만, 회원은 긴급/필수고지사항 관련정보 및 고객문의 등에 대한 답변 등을 제외하고는 언제든지 이메일 등에 대해서 수신 거부를 할 수 있습니다. 
② 제1항의 정보를 이메일 및 휴대폰에 의하여 전송하려고 하는 경우에는 회원의 사전 동의를 받아야 합니다. 다만, 긴급/필수 고지사항 관련 정보 및 고객문의 등에 대한 회신에 있어서는 제외됩니다. 
③ 회사는 서비스 개선 및 회원 대상의 서비스 소개 등의 목적으로 회원의 동의 하에 추가적인 개인 정보를 요구할 수 있습니다. 
④ 회사는 서비스의 운영과 관련하여 서비스 화면, 이메일 등에 광고를 게재할 수 있습니다. 광고가 게재된 이메일 등을 수신한 회원은 수신 거부를 회사에게 할 수 있습니다. 


제26조 (계약변경 및 해지)
① 회원은 언제든지 개인정보 메뉴를 통해 이용계약 해지신청을 할 수 있으며, 회사는 관련법 등이 정하는 바에 따라 이를 즉시 처리하여야 합니다. 단, 다음 각 호에 해당하는 경우, 즉시 해지가 불가능합니다. 
1. 예치금 잔액이 남아 있는 경우 
2. 적중처리가 완료되지 않은 구매내역이 있을 경우 
② 회원이 계약을 해지할 경우, 관련법 및 개인정보취급방침에 따라 회사가 회원정보를 보유하는 경우를 제외하고는 해지 즉시 회원의 모든 데이터는 소멸됩니다. 
③ 회원이 계약을 해지하는 경우, 회원이 공용게시판에 등록한 게시물 등은 삭제되지 않으니 사전에 삭제 후 탈퇴하시기 바랍니다. 


제27조 (서비스 이용제한)
① 회사는 회원이 서비스 이용에 있어 제13조(회원의 의무)를 위반하거나 서비스의 정상적인 운영을 방해하는 경우, 사전통보 없이 경고, 일부정지, 일시정지, 영구이용정지 등으로 서비스의 이용을 단계적으로 제한할 수 있습니다.
② 회사는 회원이 등록한 유선전화, 휴대폰, 전자메일, 주소지 우편물 발송 중 한가지 방법으로 회원 본인(실명 등) 및 가입사실을 언제든지 확인할 수 있으며, 회사가 회원이 본인임을 확인할 수 없거나 등록된 정보가 본인의 것이 아닌 것으로 판명된 경우에는 이용계약 해지 등의 조치를 취할 수 있습니다. 
③ 회사는 전항에도 불구하고, "주민등록법"을 위반한 명의도용 및 결제도용, "저작권법" 및 "컴퓨터프로그램보호법"을 위반한 불법프로그램의 제공 및 운영방해, "정보통신망법"을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위 등과 같이 관련법을 위반한 경우에는 즉시 영구이용정지를 할 수 있습니다. 본 항에 따른 영구이용정지 시 서비스 이용을 통해 획득한 벳머니 및 기타 혜택 등도 모두 소멸되며, 회사는 이에 대해 별도로 보상하지 않습니다. 
④ 회사는 본 조의 이용제한 범위 내에서 제한의 조건 및 세부내용은 운영정책에서 정하는 바에 의합니다. 
⑤ 본 조에 따라 서비스 이용을 제한하거나 계약을 해지하는 경우에는 회사는 제11조(회원에 대한 통지)에 따라 통지합니다. 


제28조 (책임제한)
① 회사는 천재지변 또는 이에 준하는 불가항력으로 인해 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다. 
② 회사는 회원의 귀책사유로 인한 서비스 이용의 장애에 대해는 책임을 지지 않습니다. 
③ 회사는 회원이 서비스와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다. 
④ 회사는 회원 간 또는 회원과 제3자 상호간에 서비스를 매개로 하여 발생한 분쟁에 대하여는 책임을 지지 않습니다. 
⑤ 회사는 무료로 제공하는 서비스 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다. 
⑥ 회사가 개별서비스 제공자와 제휴 협정을 맺고 회원에게 개별서비스를 제공함에 있어 회원이 개별서비스 이용약관에 동의를 한 뒤 개별서비스 제공자의 귀책 사유로 인해 손해가 발생할 경우, 관련 손해에 대해서는 개별서비스 제공자가 책임을 집니다. 
⑦ 회사는 서비스에서 유료로 제공하는 서비스의 이용에 있어 회사의 귀책사유로 회원에게 손해가 발생할 경우, 이를 배상할 책임이 있습니다. 
⑧ 회사는 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 발생한 손해에 대한 책임이 면제됩니다. 
⑨ 회사는 이용자의 컴퓨터 오류에 의해 손해가 발생한 경우, 또는 회원이 신상정보 및 이메일을 부실하게 기재하여 손해가 발생한 경우, 책임을 지지 않습니다. 
⑩ 회사는 회원이 서비스를 이용하여 기대하는 수익을 얻지 못하거나 상실한 것에 대해 책임을 지지 않습니다. 
⑪ 회사는 회원이 서비스를 이용하면서 얻은 자료로 인한 손해에 대해 책임을 지지 않습니다. 또한 회사는 회원이 서비스를 이용하며 타 회원으로 인해 입게 되는 재산적, 정신적 피해에 대해 보상할 책임을 지지 않습니다. 


제29조 (재판권 및 준거법)
① 회사와 회원 간 제기된 소송은 대한민국법을 준거법으로 합니다. 
② 회사와 회원 간 발생한 분쟁에 관한 소송은 민사소송법상의 관할법원에 제소합니다. 

<부칙>
[시행일] 본 이용약관은 2012년 2월 24일부터 적용되며, 2011년 7월 27일부터 적용되던 종전약관은 본 약관으로 대체됩니다. 개정된 이용약관의 적용일자 이전 가입자 또한 개정된 이용약관의 적용을 받습니다.
	            </textarea>
	            <p><input type="checkbox" name="agree" value="agree" /> 약관에 동의합니다</p>
            	<br/>

	            <h1>사이트운영정책</h1>
	            <textarea readonly>
<본 운영정책은 스포츠토토온라인 서비스를 위한 사이트 운영정책입니다.>

정부의 관련 법령 및 지침의 변경, 스포츠토토 상품 운영 정책의 변경 또는 betman의 정책 변화에 따라 운영정책은 변경될 수 있으니, 사이트 운영 기준에 관심을 가지고 수시로 확인해주시기 바랍니다.

1. 회원
1) 회원가입
① betman 회원가입은 무료입니다. 
② 「청소년보호법」 제2조 제1호에 따른 청소년을 제외한(이하 '청소년' 이라고 함) 대한민국 국민 누구나 가입할 수 있으며, NICE신용평가정보㈜를 통하여 실명 인증 후 betman 회원으로 가입하시면 됩니다. 국민체육진흥 기금의 마련을 위한 체육진흥투표권발행 사업은 혹시 발생할 수 있는 청소년의 사행심리 유발을 방지하고, 적중결과에 따른 환급금 지급을 정상적으로 처리하기 위해 모든 정보는 실명 등록을 원칙으로 합니다. 개인정보는 개인정보취급방칭에 따라 보호됩니다.
③ 대한민국 국적 소지자(주민등록번호 소지자)만 betman의 회원으로 가입하실 수 있습니다. 외국인은 이용하실 수 없습니다. 
2) 성인인증
① 회원 가입 시 거치게 되는 성인인증은 NICE신용평가정보㈜의 성인인증시스템을 이용하여 처리하게 됩니다. 만일 고객정보에 누락이 있어 성인인증 및 실명확인이 처리되지 않는 경우에는 NICE신용평가정보㈜ 사이트(http://www.namecheck.co.kr) 로 접속하셔서 온라인 자동등록시스템이나 팩스, 이메일을 이용하여 본인의 신상정보를 등록하셔야만 성인인증 단계를 거쳐 정상적으로 가입됩니다. 
② 회원 가입시 “이미 회원으로 등록되어 있습니다.” 라는 메시지가 나올 경우 회원님께서 이전에 저희 betman에서 회원 가입을 하신 경우로, 고객센터 ‘아이디/비밀번호 찾기’ 메뉴를 이용하여 아이디 및 비밀번호를 확인해주시기 바랍니다. 
③ 혹 타인이 회원님의 주민등록번호(또는 아이핀 인증 번호)를 사용하고 있는 경우 “주민등록번호 도용” 이라 기재하시고 회원님의 주민등록증 사본과 연락 가능한 휴대폰 및 유선전화번호를 기재하여 팩스(02-3441-3444)로 보내신 후 고객센터(1588-1364)로 문의하여 주시면 확인 후 처리하여 드립니다. 
3) 개인정보수정 
① 회원님께서 원하시는 경우 언제든지 개인정보 수정이 가능하며, 개인정보 수정은 [마이페이지 > 개인정보] 항목에서 수정하실 수 있습니다. 
② 단 이름과 주민등록번호, 아이디는 수정하실 수 없습니다. 
4) 회원탈퇴 
① 회원님께서 원하시는 경우 언제라도 자유롭게 탈퇴하실 수 있습니다. 다만 구매하신 투표권 중에 결과가 발표되지 않은 투표권이 존재하는 경우에는 결과가 발표될 때까지 기다리셔야 하며, 예치금 잔액이 남아있는 경우에는 예치금 출금 후 탈퇴가 가능합니다. 
② 회원 탈퇴는 [마이페이지 > 회원탈퇴] 항목에서 하실 수 있습니다. 
③ 회원이 다음 각 호에 해당되는 경우, betman은 회원의 이용자격을 제한 및 정지, 상실시킬 수 있습니다. 
가. 회원 가입 신청 시에 허위 내용을 등록한 경우. 
나. 본인이 직접 가입 및 활동하지 않는 경우. 
다. 다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우 
라. 체육진흥투표권 유사 행위의 경기정보 제공, 중개, 알선 등 부정한 용도로 본 서비스를 이용한 경우
마. betman 운영 관리에 피해를 주는 경우. 
바. 기타 서비스 이용 시 관계 법령 및 약관에 위배되는 경우. 
사. 기타 불법적으로 활동하는 것이 확인된 경우. 
④ 탈퇴완료시 아래와 같이 적용됩니다. 
가. 모든 벳머니가 자동 소멸됩니다. 
나. 모든 벳볼이 자동 소멸됩니다. 
다. 신청하신 이벤트가 취소됩니다. 
라. 탈퇴 후 30일 이내의 재가입은 불가합니다. 
마. 탈퇴 후 30일 이후에도 기존에 사용하셨던 아이디로 재가입은 불가능 합니다. 
5) 로그인
① 아이디와 비밀번호를 입력하여 betman 사이트에 로그인합니다. 구매 및 결제 기타 유.무료서비스의 이용을 위해서는 로그인이 필요합니다. 아이디와 비밀번호는 모두 영문 대소문자를 구분하므로, 이점 유의 하십시오. 
② 아이디 / 비밀번호 분실 시 
아이디/비밀번호를 기억하지 못하실 경우에는 저희 betman 상단에 있는 [ID/PW찾기]를 선택하시면 됩니다. 
아이디를 확인하실 경우에는 이름과 주민등록번호(또는 아이핀 인증 번호)를 입력하시면 회원님의 아이디 일부(뒷자리 3자리 제외)를 확인하실 수 있습니다. 
아이디 전체를 확인하시려면, [아이디 전체찾기]를 클릭하시고 기존 등록하신 개인정보 중 이메일 주소나 휴대폰 번호로 전체 아이디를 확인하실 수 있습니다. 
만약, 위의 방법으로 아이디 확인이 불가능한 경우 본인인증 방법인 휴대폰 인증, 신용카드 인증, 범용공인인증서 인증, 신분증 확인 신청을 통해 전체 아이디를 찾으실 수 있습니다. 
비밀번호를 확인하실 경우에는 아이디, 이름, 주민등록번호(또는 아이핀 인증 번호)를 입력하시면 기존 등록하신 개인정보 중 휴대폰 번호, 유선전화 번호, 이메일 주소로 인증번호를 받으실 수 있으며, 인증번호를 입력하시면 새로운 비밀번호 설정이 가능합니다. 
만약, 위의 방법으로 새로운 비밀번호 설정이 불가능할 경우 본인인증 방법인 휴대폰 인증, 신용카드 인증, 범용공인인증서 인증, 신분증 확인신청을 통해 새로운 비밀번호를 설정하실 수 있습니다. 
(단, 신분증 확인신청은 신청시 등록한 정보로 임시 비밀번호가 발송됩니다.) 


2. 구매/환불/환급
1) 용어정리
① 구매 
예치금,실시간계좌이체,벳머니를 이용하여 betman으로 부터 체육진흥투표권을 구입하는 것을 말합니다. 
② 환급 
체육진흥투표권을 구매하고 경기결과에 따라 적중된 회원에게 적중금을 예치금이나 회원은행계좌로 입금하는 것을 말합니다. 
③ 환불 
체육진흥투표권 발매 후 투표대상 운동경기 개최의 취소 등으로 인한 체육진흥투표권 구매금액을 예치금(예치금, 실시간계좌이체로 구매 시)과 벳머니(벳머니로 구매 시)로 반환하는 것을 말합니다. 
2) 구매자격
① 회원등록 
betman 회원 가입 이후 체육진흥투표권을 구매하실 수 있습니다. 
② 연령제한
청소년의 구매를 금지하고 있습니다. betman에서는 회원가입 시 인증과정을 통해 청소년의 회원가입 및 체육진흥투표권 구매를 원천적으로 방지하고 있습니다.
③ 국적제한 
betman에서는 내국인에 한하여 투표권을 판매합니다. 
④ 구매가능금액 
체육진흥투표권은 각 게임별 한 회차당 1인이 최대 100,000원까지 구매 가능합니다. 
⑤ 구매제한 
아래 각 호에 해당 하는 구매 제한자는 구매, 알선 및 양도할 수 없습니다. 
위반 시 법적 책임은 구매자 본인에게 있으며 적중 시 환급금을 지급하지 않습니다. 
가. 체육진흥투표권 발행사업자 및 수탁사업자 
나. 체육진흥투표권 발행사업에 관하여 감독의 지위에 있는 자 
(문화관광부 소속 공무원으로서 체육진흥 투표권 발행사업 관련업무를 담당하는 자) 
다. 체육진흥투표권 발행대상 운동경기의 선수ㆍ감독ㆍ코치ㆍ심판 및 경기단체 의 임직원 
라. 체육진흥투표권 발행대상 운동경기를 주최하는 단체의 임직원 
마. 기타 체육진흥투표권 발행사업에 종사하는 자
(체육진흥공단의 체육진흥투표권 발생사업 부서의 임.직원 및 수탁사업자의 임.직원) 
바. 기타 체육진흥투표권 발행사업에 종사하는 자 
3) 결제 (예치금, 실시간계좌이체, 벳머니) 
① 결제수단 
betman에서는 예치금, 실시간계좌이체, 벳머니를 이용하여 체육진흥투표권을 구매하실 수 있습니다. 
② 예치금 
예치금은 무통장입금(가상계좌),실시간계좌이체를 이용하여 충전하실 수 있습니다. 
예치금을 이용하여 구매를 하시면 구매 시마다 결제관련 정보를 입력해야 하는 불편함이 없습니다. 
③ 실시간계좌이체
- 결제 시 고객이 부담할 계좌이체 수수료는 없습니다.
- 실시간계좌이체를 이용하시려면 공인인증서가 필요합니다. 
- 공인인증서가 없는 경우 회원님이 이용하시는 은행 영업점을 방문하시어, 공인인증서를 발급 받으신 이후에 이용해주시기 바랍니다.
- 실시간계좌이체를 선택하여 결제를 시도할 때마다 결제팝업창을 통해 결제관련정보(계좌번호, 계좌비밀번호, 주민등록번호 등)를 입력하며, 입력한 정보로 결제대행사를 통해 결제합니다.
- 회원님의 통장 거래내역에는 결제대행사 명이 표시됩니다.
가. 결제 오류 발생 시 처리 사항 
- 결제대행사와 betman 시스템 사이의 데이터 누락으로 인해 결제되었으나 발권이 되지 않는 경우, 결제 후 10분 이내에 예치금으로 자동 환불됩니다.
- 만약 10분 내에 자동 환불되지 않은 경우, 거래일 익일까지 실시간 계좌이체 거래 내역 승인 취소됩니다.
- 결제대행사에 승인취소 요청을 하면 결제하신 회원님의 계좌로 결제 금액이 입금되며, 재입금 시까지 1~2주 소요될 수 있습니다.
- 결제대행사와 은행 사이의 데이터 누락으로 인해 회원의 계좌에서 결제금이 인출 되었으나 발권이 되지 않은 경우, 다음 은행영업일 기준으로 회원의 인출 계좌로 재 입금됩니다.
④ 벳머니 
벳머니는 betman에서 진행하는 특별 이벤트나 프로모션 참여를 통해 적립된 것으로, 100원 이상부터 사용 가능합니다. 
100원 단위로 체육진흥투표권 구매가 가능하며 벳머니 와 예치금, 실시간계좌이체 중 한 개의 결제수단과 혼합결제도 가능합니다. 결제페이지에서 벳머니 사용가능 금액을 선택하여 결제할 수 있습니다. 
⑤ 결제방법 
가. 바로구매
-체육진흥투표권을 표기한 후 ‘바로구매’ 버튼을 클릭하면 결제페이지로 이동합니다.
- 결제페이지의 ‘결제정보’에서 결제수단을 선택합니다.
결제수단은 ‘예치금’ 또는 ‘실시간계좌이체’을 선택할 수 있습니다. 만약 벳머니를 보유하고 있다면, 예치금 또는 실시간계좌이체와 혼합결제가 가능합니다.
- 결제를 위해서는 betman 비밀번호를 한번더 입력한 후 ‘확인’버튼을 누릅니다. 
- 결제가 정상적으로 완료 되었는지 [마이페이지> 구매/적중내역]에서 즉시 확인하실 수 있습니다. 
나. 카트담기
- 체육진흥투표권을 표기한 후 ‘카트담기’ 버튼을 클릭하면 ‘쇼핑카트’로 이동합니다. 
- 쇼핑카트에서 결제할 항목을 선택하고 ‘구매하기’ 버튼을 클릭합니다. 
- 결제페이지의 ‘결제정보’에서 결제수단을 선택합니다.
결제수단은 ‘예치금’ 또는 ‘실시간계좌이체’을 선택할 수 있습니다. 만약 벳머니를 보유하고 있다면, 예치금 또는 실시간계좌이체와 혼합결제가 가능합니다.
- betman 비밀번호를 입력한 후 ‘확인’버튼을 누릅니다. 
- 결제가 정상적으로 완료 되었는지 [마이페이지> 구매/적중내역]에서 즉시 확인하실 수 있습니다. 
4) 구매내역확인 
① 결제 완료 후 반드시 [마이페이지 > 구매/적중내역]을 확인하여 주시기 바랍니다. 
보다 상세한 구매내역을 확인하고자 하시는 경우 [마이페이지 > 구매/적중내역] 에서 구매내역 상세페이지를 이용하시기 바랍니다. 
② 결제가 완료되면 회원가입 시 등록하신 이메일 주소로 구매내역이 통보됩니다. 
단, 수신거부로 설정 되어있을 경우 이메일은 발송되지 않습니다. 
③ 구매내역에 없다면 이는 정상적으로 구매되지 않은 것입니다. 
이런 경우 결제하신 금액은 결제방법에 따라 예치금 및 벳머니로 환불 됩니다. 
④ 구매가 완료되지 않은 결제금액에 대해 betman은 예치금 및 벳머니로 환불함으로써 그로 인한 책임을 부담하지 않습니다. 
구매 완료 시 꼭 구매내역을 확인해 주시기 바랍니다. 
5) 환불 
① 천재지변이나 경기단체의 사정으로 경기가 취소될 경우 또는 결제 및 구매오류 등 betman 서비스 상에서 정상적으로 서비스가 제공되지 않은 경우 해당사실을 서비스 페이지에 안내하며, 구매 금액은 자동 환불됩니다. 
② 경기취소는 해당 주최단체의 공식결과가 적용됩니다. 
③ 환불은 구매방법에 따라 예치금(실시간계좌이체, 예치금 구매 시)과 벳머니(벳머니로 구매 시)로 자동 환불 됩니다. 
④ 환불내역은 [마이페이지 > 예치금 > 내역보기], [마이페이지 > 벳머니 > 내역보기] 에서 확인하실 수 있습니다. 
6) 취소 
구매가 완료된 체육진흥투표권은 구매신청 취소 및 환불이 불가능합니다. 

7) 적중금 안내 및 지급 
① 과세 대상 적중금에 대해서는 세금을 공제한 금액이 환급됩니다. 
가. 단위투표금액의 100배 초과 적중금부터 22%의 세금(소득세 20%, 주민세 2%)을 제한 금액이 환급됩니다. 
나. 3억원 이상의 적중금에 대해서는 3억원 초과분에 대해 33%의 세금(소득세 30%, 주민세 3%)을 제한 금액이 환급됩니다. 
② 적중결과는 회원님의 이메일과 서비스 페이지에서 안내 합니다. 
단, 수신거부로 설정 되어있을 경우 이메일은 발송되지 않습니다. 
③ 적중금액 환급 방법은 아래와 같습니다. 
가.5만원 이하 : 미리 선택한 환급 방법에 관계없이 예치금으로 자동 환급됩니다. 
나.5만원 초과 ~ 3억원 미만 : 예치금, 환급 계좌 중 회원이 선택한 방법으로 자동 환급됩니다. 
다. 3억원 이상 : betman을 운영하는 스포츠토토온라인㈜과 연락 후 투표권 구매내역과 신분증을 지참하고 신한은행 본점을 직접 방문하여 적중금을 수령하게 됩니다. 
④ 적중금 환급 방법 중 환급 계좌를 선택한 사용자의 환급 중, 계좌 오류(계좌번호 불일치, 본인명의 계좌가 아닌 경우)로 인해 환급계좌로 환급이 불가할 경우 예치금으로 환급됩니다. 
이 경우 환급 방법이 예치금 환급으로 자동 변경됩니다. 
⑤ 적중금 지급기간은 적중결과 발표 익일부터 1년간이며, betman은 환급 개시일에 모든 적중금을 환급합니다. 
⑥ 적중금 환급 방법은 [마이페이지> 개인정보]에서 언제든지 변경하실 수 있으며, 적중결과 발표 후 환급방법 변경 시 변경된 정보는 다음 적중금부터 적용됩니다. 
8) 환급개시일 
적중결과 발표 익일이 환급 개시일이며, 익일이 주말이나 공휴일일 경우 은행영업일 기준으로 다음 영업일에 환급을 개시합니다. 
환급개시일 오전 9시 30분부터 오후 2시 사이에 환급을 해드리며, 예치금 환급의 경우 계좌 환급보다 빠르게 환급해 드립니다. 

9) 구매예약 
① 밤 10시부터 오전 8시까지는 스포츠토토㈜의 발매시스템이 정기점검을 위해 발매를 정지하게 됩니다.
스포츠토토온라인(주)에서는 상기 시간에 구매예약시스템을 준비하여 구매예약 서비스를 지원하고 있습니다. (단, 프로토는 상품 운영 특성상 구매예약 서비스가 지원되지 않습니다.)
② 밤 10시부터 오전 8시까지 구매예약하신 투표권은 저희 구매예약시스템에서 관리되어 오전 9시에 일괄적으로 구매가 완료됩니다. 
9시에 시스템을 처리하기 전까지는 '구매예약중' 이라고 표시되며 실제로 구매가 이뤄지지 않은 상태입니다. 구매예약하신 내역은 오전 8시까지 구매예약 취소가 가능하며, 구매예약 취소 시 결제 금액은 예치금 또는 벳머니로 환불됩니다.(실시간계좌이체 또는 예치금으로 결제 시 예치금 환불, 벳머니로 결제 시 벳머니 환불)
구매예약시스템으로 구매하신 회원님께서는 오전 9시 이후에 구매하신 내역이 정상적으로 구매처리 되었는지 반드시 확인 해주시기 바랍니다. 
③ 구매 내역을 확인 후 이상이 있는 경우 고객센터(1588-1364)로 연락 주시거나, [고객센터 > 고객상담실] 에 내역을 남겨주시기 바랍니다. 회원님의 구매내역에서 투표권 구매 고유번호(16자리 번호)를 확인하십시오. 
구매내역에 투표권고유번호가 생성됨은 정상적으로 구매 처리됨을 알려 드리는 것입니다. 

3. 예치금 
1) 용어정리 
① 예치금 충전 
체육진흥투표권의 구매를 위해 일만원 이상의 금액을 무통장입금(가상계좌)/실시간계좌이체를 통해 betman의 예치금으로 적립하는 것을 말합니다. 
② 예치금 출금 
betman의 예치금을 회원의 요청에 따라 회원의 본인 명의 계좌로 돌려주는 것을 말합니다. 
2) 무통장입금(가상계좌) 예치금 충전
회원님께서 원하시는 은행을 선택하시고 가상계좌번호를 발급 받아 해당계좌로 입금하시면 10분 안에 예치금으로 충전됩니다.

① 충전방법 
1단계 : 가상계좌번호를 발급 받습니다. 
가. [마이페이지 > 예치금 > 충전하기] 메뉴로 이동합니다. 
나. 충전방법에서 ‘무통장 입금(가상계좌)’ 를 선택합니다. 
다. 여러 은행 중 이용이 편리한 은행 선택하고 가상계좌번호 발급 받기를 선택하여 발급 받습니다. 
- 국민, 농협, 우리, SC제일, 신한, 하나은행 중 하나를 선택합니다. 
2단계 : 발급 받은 가상계좌번호로 입금합니다. 
가. 1만원 부터 입금 가능 합니다. (입금한도:1회 100만원) 
나. 주말, 공휴일에도 입금 가능합니다. 
다. 입금 후 [입금확인요청]이 필요 없습니다. 
3단계 : 10분 이내에 예치금이 자동으로 충전됩니다. 
※ 가상계좌번호는 회원님께 개별로 발급 해드리는 회원님만의 고유 입금 계좌로, 은행별 입금 가능 시간 안에 계좌로 입금 하면 최대 10분 이내에 예치금 자동 충전됩니다. 
※ 거래은행, 계좌번호, 예금주를 확인 후 발급 받은 계좌로 무통장입금, 텔레뱅킹, 인터넷 뱅킹 등 회원님께서 편리한 방법으로 입금합니다. 
② 주의 사항 
가. 1만원 이상부터 입금 가능합니다. (입금한도:1회 100만원) 
나. ‘가상계좌번호’는 예치금 충전 시 사용하는 입금계좌이며, 출금계좌는 아닙니다. 
(환급 및 출금 시 이용하는 계좌와 다름으로 혼동하지 마십시오) 
다. 발급 받은 가상계좌번호를 3개월 동안 사용하지 않을 시, 해당 계좌는 회수됩니다. 
- 계좌 회수 전에 회수 일자 등 안내 메일이 발송됩니다. 
- 회수 이후, 계좌는 타 회원에게 부여됨으로 계좌 회수 이후에 기존 회원은 해당 계좌를 사용할 수 없습니다. 
- 계좌 회수 통보 사실 미확인(안내 메일 미확인)에 따른 책임은 회원에게 있습니다. 
- 미사용 계좌 회수 기한은 3개월이며, 기한은 운영상 변경될 수 있습니다. 회수 기한 변경 시는 사전 공지합니다. 
라. 입금 시 본인이 발급 받은 계좌번호를 반드시 확인하세요. 
- 다른 회원의 계좌로 입금한 것에 대한 책임은 입금자 본인에게 있습니다. 
마. 현금출납기로 입금 시 카드나 통장이 없으면 입금 불가능하며 창구에서 입금하셔야 합니다.

	[은행별 입금 가능 시간 안내] 은행명 입금가능시간  
			   당행         타행 
	국민       24시간      24시간 
	신한은행   00:30~24:00 00:30~24:00 
	우리은행   00:30~24:00 00:30~24:00 
	하나은행   00:30~24:00 00:30~24:00 
	농협       00:30~24:00 00:30~24:00 
	SC제일은행 00:30~24:00 00:30~24:00 

3) 실시간계좌이체(공인인증서 방식) 예치금 충전 
실시간계좌이체는 결제대행사를 이용하며, 결제 시 고객이 부담할 계좌이체 수수료는 없습니다. 

① 충전방법 
가. [마이페이지 > 예치금 > 충전하기 ] 을 선택합니다. 충전방법에서 ‘실시간 계좌이체-공인인증서 인증’을 선택합니다.
나. 충전금액을 입력합니다. 1만원 이상부터 충전 가능합니다. (입금한도:1회 100만원) 
다. 실시간계좌이체 결제팝업창을 통해 결제관련정보(은행선택, 이메일, 연락처, 계좌번호, 계좌비밀번호, 예금주, 주민등록번호 등)를 입력한 다음 ‘충전하기’버튼을 누릅니다.
라. 입금액이 정상적으로 예치금으로 충전되었는지 [마이페이지 > 예치금 > 내역보기] 에서 확인 하실 수 있습니다. 
예치금 충전까지는 최대 10분 정도의 시간이 소요됩니다. 단 은행 전산 장애 등의 사유로 인해 충전 시간이 지연될 수 있습니다.
② 결제 오류 발생시 처리상황 
가. 가. 결제대행사와 betman 시스템 사이의 데이터 누락으로 인해 결제되었으나 예치금 충전이 되지 않은 경우, 
결제대행사와 betman 시스템 사이의 일정시간 간격으로 자동 정보 재전송 작업을 거쳐 자동 충전됩니다.
나. ‘가’의 경우로도 충전되지 않은 결제건은 거래일 익일까지 실시간 계좌이체 거래 내역 승인 취소됩니다.
다. 결제대행사의 경우 승인취소 요청을 하면 결제하신 회원님의 계좌로 결제 금액이 재 입금되며, 재입금 시까지 1~2주 정도 소요될 수 있습니다. 
라. 라. 결제대행사와 은행 사이의 데이터 누락으로 인해 회원의 계좌에서 결제금이 인출 되었으나 예치금 충전이 되지 않은 경우, 다음 은행영업일 기준으로 회원의 인출 계좌로 재 입금됩니다.
4) 실시간계좌이체(휴대폰 인증) 예치금 충전
실시간계좌이체는 결제대행사를 이용하며, 결제 시 고객이 부담할 계좌이체 수수료는 없습니다.
① 충전방법
가. [마이페이지  > 예치금  > 충전하기 ] 을 선택합니다. 충전방법에서 ‘실시간 계좌이체-휴대폰 인증’을 선택합니다.
나. 충전금액을 입력합니다. 1만원 이상부터 충전 가능합니다. (입금한도:1회 100만원)
다. 실시간계좌이체 결제팝업창을 통해 결제관련정보(UbPay 서비스에 등록된 휴대폰번호)를 입력한 다음 ‘충전하기’버튼을 누릅니다.
라. UbPay 모바일 앱에서 등록한 휴대폰을 통해 결제관련정보(은행선택, 계좌비밀번호 등)를 입력하여 결제를 완료합니다.
마. 입금액이 정상적으로 예치금으로 충전되었는지 [마이페이지> 예치금 > 내역보기] 에서 확인 하실 수 있습니다. 
예치금 충전까지는 최대 10분 정도의 시간이 소요됩니다. 단 은행 전산 장애 등의 사유로 인해 충전 시간이 지연될 수 있습니다.
② 결제 오류 발생시 처리상황
가. 결제대행사와 betman 시스템 사이의 데이터 누락으로 인해 결제되었으나 예치금 충전이 되지 않은 경우, 결제대행사와 betman 시스템 사이의 일정시간 간격으로 자동 정보 재전송 작업을 거쳐 자동 충전됩니다.
나. ‘가’의 경우로도 충전되지 않은 결제건은 거래일 익일까지 실시간 계좌이체 거래 내역 승인 취소됩니다.
다. 결제대행사의 경우 승인취소 요청을 하면 결제하신 회원님의 계좌로 결제 금액이 재 입금되며, 재입금 시까지 1~2주 정도 소요될 수 있습니다.
라. 결제대행사와 은행 사이의 데이터 누락으로 인해 회원의 계좌에서 결제금이 인출 되었으나 예치금 충전이 되지 않은 경우, 다음 은행영업일 기준으로 회원의 인출 계좌로 재 입금됩니다.
5) 예치금 출금 
① 예치금은 사용금액 및 기간에 상관없이 출금 가능합니다.
(결제대행수수료 차감 후 출금/단, 적중금과 경기취소 및 구매오류로 인한 환불금은 수수료없이 전액 출금 가능)
② 출금시 차감되는 결제대행수수료는 충전(결제)방법에 따라 다르게 부과됩니다.

충전방법
결제 대행 수수료

실시간 계좌이체
출금금액의 1.8%

가상계좌
충전건별 출금시 250원

③ 출금 계좌는 반드시 회원 본인 명의의 계좌이어야 합니다.
④ 출금신청 취소는 출금예정일 오전 08시까지 가능합니다.
⑤ 출금방법
가. [마이페이지 > 예치금  > 출금]을 선택합니다.
나. '출금신청' 버튼을 누릅니다.
다. '예치금 잔액'을 확인 후 출금신청금액을 입력합니다.
라. 출금신청 금액을 입력하면 결제대행 수수료를 제외한 출금예정금액을 확인할수 있습니다.
마. 은행과 본인 명의의 계좌번호 입력 후 ‘출금신청’버튼을 누릅니다.
바. [마이페이지 > 예치금 > 출금]에서 출금 내역, 처리 상태, 출금완료일을 확인 하실 수 있습니다.
⑥ 예치금 출금은 ‘출금신청’ 익일 오전 9시 30분부터 오후 2시 사이에 본인 명의 계좌로 처리됩니다.
단, 익일이 주말이나 공휴일일 경우 은행영업일 기준으로 다음 영업일에 출금됩니다.
6) 예치금 거래내역
① 예치금의 입출금내역은 [마이페이지 > 예치금 > 내역보기]에서 확인하실 수 있습니다.
② 예치금 입출금내역은 기본적으로 최근 1주일간의 입출금 내역을 제공하며, 기간을 직접 선택 시 1주일 이상의 내역을 확인하실 수 있습니다.

4. 벳머니 
1) 용어정리 
벳머니는 betman에서 진행하는 특별 이벤트나 프로모션 참여를 통해 적립되는 마일리지를 말합니다.

2) 적립 
① betman에서 실시하는 특별 이벤트나 프로모션을 통해 적립 됩니다. 
② 자동적립 또는 벳머니 상품권(구: betMoney)을 통해 벳머니로 전환됩니다. 
3) 사용안내 
① 벳머니는 100원 이상부터 100원 단위로 투표권 구매에 사용하실 수 있습니다. 
② betman에서 실시하는 각종 유료서비스에서도 사용하실 수 있습니다. 
③ 예치금 또는 현금으로 전환되지 않습니다.
④ betman 기부 서비스에서는 1원부터 1원 단위로 기부하실 수 있습니다. 
4) 유효기간
① 벳머니 유효기간은 적립일로부터 1년입니다. 
단, 적립내역에 따라 유효기간이 다르게 지정될 수 있습니다. 
5) 소멸 
① 회원 탈퇴 시 벳머니는 남은 내역에 상관없이 자동 소멸됩니다. 
② 벳머니 사용 시 선입선출의 원칙에 따라 먼저 적립된 것부터 자동 차감되며, 적립 건별로 유효기간이 경과한 경우 자동 소멸 됩니다. 
6) 거래내역 
① 벳머니의 내역은 [마이페이지 > 벳머니> 내역보기]에서 확인하실 수 있습니다. 
② 기본적으로 최근 1주일간의 벳머니 내역을 제공하며 기간을 직접 선택 시 1주일 이상의 내역을 확인하실 수 있습니다. 

5. 벳머니 상품권
1) 용어정리 
벳머니 상품권은 betman에서 벳머니로 적립하여 사용할 수 있는 온라인 전용 상품권입니다. 
벳머니 상품권은 이벤트 경품 등으로 사용되며 이메일 또는 오프라인 상품권형태로 제공되며 회원간의 교환 또는 현금 환불이 되는 것은 아닙니다.

2) 주의사항 
벳머니 상품권은 명시되어 있는 유효기간 이내에만 벳머니로 적립 가능합니다. 
적립된 벳머니 사용기간은 적립일로부터 12개월(1년)입니다. 유효기간이 지난 벳머니는 자동 소멸됩니다.

3) 사용안내 
① [마이페이지 > 벳머니 > 상품권적립] 에서 일련번호 입력 창에 일련번호를 입력합니다. 
② 벳머니 상품권에 기재되어 있는 금액이 벳머니로 적립됩니다. 
③ 적립된 벳머니로 betman 내에서 투표권을 구입 하실 수 있습니다. 
⑥ 적립된 벳머니는 [마이페이지 > 벳머니 > 내역보기] 에서 확인하실 수 있습니다. 
⑦ 벳머니 상품권은 비매품으로 현금교환이 불가합니다. 

6. 벳볼(betball) 
1) 용어정리 
벳볼은 투표권 구매는 물론 betman에서 다양한 활동을 통해 적립되는 포인트로 매월 진행되는 경품 이벤트 및 특정 서비스 이용 시 사용할 수 있습니다.

2) 주의사항 
벳볼은 투표권 구매 시 사용할 수 없으며, 회원간의 교환 또는 현금 환불이 되는 것은 아닙니다. 벳볼은 각 적립건별로 적립일로부터 100일까지 사용가능하며, 사용하지 않은 벳볼은 자동 소멸됩니다. 

3) 적립 안내 
벳볼은 아래와 같은 방법을 통해 적립할 수 있습니다. 

① 투표권 구매 시 
② 특정시간대 혹은 특정 게임 구매 시 (진행시 별도 공지 참조) 
③ 친구 추천 시 
④ 추천한 친구가 신규 회원가입 후 첫 구매 시 
⑤ 매주 발행하는 정기 뉴스레터 오픈 시 
⑥ 상시적으로 진행되는 이벤트 참여 시 
4) 사용 안내 
적립된 회원님의 벳볼은 아래와 같이 사용할 수 있습니다 

① 월 경품 응모 
② 경품 경매 응모 
③ 즉석 경품 응모 
④ betman 기부 서비스에서 기부

7. 게시물의 운영 
1) 용어정리 
‘게시판’ 은 베트맨 회원이면 누구나 스포츠토토에 대한 자유로운 의견 교환을 위해 사용할수 있는 공간입니다. 게시판은 각각의 성격에 따라 다르게 구성되어 운영됩니다. 

2) 게시물 이용 
betman 회원이라면 누구나 betman 에서 제공되는 모든 게시판의 사용 가능합니다. 
단, 게시판의 성격에 따라 사용권한이 다르게 부여될 수 있습니다.
또한, 모든 게시판은 실명등록을 원칙으로 합니다. 

게시판에 등록된 게시물의 저작권은 게시자 본인에게 있으며, betman 공식 입장과는 관련이 없으며, 게시물이 타인의 저작권 등을 침해하더라도 이에 대한 민·형사상의 책임을 지지 않습니다. 
또한, 이러한 사유로 betman이 타인으로부터 손해배상 청구 등 이의제기를 받는 경우, 해당 회원은 그로 인해 발생한 모든 손해를 부담해야 합니다. 
betman은 회원이 게시물 정보에 의존하여 입은 피해에 대한 책임을 지지 않으며, 안정적인 게시물 관리를 위해서 게시판의 성격에 따라 일정기간이 지난 글에 대해서는 확인/검색이 불가능합니다.

3) 게시물 관리 및 이용기준 
betman 은 다음 각 호에 해당하는 게시물이나 자료를 사전통지 없이 삭제하거나 이동 또는 등록 거부를 할 수 있습니다.

① 다른 회원 또는 제 3자에게 심한 모욕을 주거나 명예를 손상시키는 내용인 경우 
② 공공질서 및 미풍양속에 위반되는 내용인 경우 
③ 불법복제 또는 해킹을 조장하는 내용인 경우 
④ 영리ㆍ비영리를 목적으로 하는 광고일 경우 
⑤ 범죄와 결부된다고 객관적으로 인정되는 내용일 경우 
⑥ 다른 이용자 또는 제 3자의 저작권 등 기타 권리를 침해하는 내용인 경우 
⑦ 회사에서 규정한 게시물 원칙에 어긋나거나, 게시판 성격에 부합하지 않는 경우 
가. 음란물이나 불온한 내용 
나. 욕설이 난무하는 글, 상호비방적인 글, 싸움을 유발 할 수 있는 글 
다. 온라인 판매나 구인 관련 게시물. 스팸(spam) 및 도배성 게시물 
마. 사실에 근거하지 않은 허위 게시물 
바. 스포츠토토 이용에 관련 없는 글 
사. 기타 betman 의 서비스운영과 관리에 피해를 주는 내용의 글 
⑧ 기타 관계법령에 위배된다고 판단되는 경우 
올려서는 안 되는 게시물을 올린 회원에게는 1회의 주의/글쓰기 제한(24시간, 7일)조치와 1회의 경고/글쓰기 제한(30일, 90일, 120일, 365일)조치를 하고 이후 같은 행위로 1회 더 최종경고가 발생한 경우 회원 아이디를 삭제합니다. 
단, 주의/경고/최종경고는 사안의 경중에 따라 글쓰기 제한 없이 조치될 수 있습니다. 
회원 아이디 삭제 시, 사용자에게 이메일또는 팝업등을 통해 회원 아이디 삭제 사실을 통보합니다. 
게시물 관리 및 이용기준에 위배되는 행동으로 아이디가 삭제될 경우, 추후 재가입이 영구적으로 불가능합니다. 

8. 기부
1) 용어정리
‘기부’는 예치금, 벳머니, 벳볼을 이용하여 betman 에서 기부하는 것을 말합니다.
2) 주의사항
예치금과 벳머니로 기부한 금액은 1:1 매칭그랜트 방식으로 회원이 기부 금액과 동일 금액을 betman에서 회원의 이름으로 지원하여 기부합니다. 
체육진흥투표권을 구매하여 체육발전기금 마련에 기여한 분이 대상입니다.(betman사이트에서 최근 1년 내 투표권 구매경험이 있는 회원입니다) 1:1 매칭그랜트 지원금은 매월 betman 에서 지정한 한도 내에서 적용되며, 1인당 월 최대 5만원까지 매칭그랜트 혜택을 받을 수 있습니다.
벳볼 이벤트는 베트맨이 매월 지정하는 방식에 따라 다를 수 있습니다. 단, 벳볼 기부 이벤트를 통해 1인당 월 최대 5만원(해당 회원 이름으로 기부되는 최대 금액)까지 혜택을 받을 수 있습니다.
3) 기부안내
아래와 같은 방법으로 기부할 수 있습니다.
①	예치금
②	벳머니
③	벳볼 (벳볼 기부 이벤트 진행 시 벳볼로 기부할 수 있습니다)
4) 사용 안내
[마이페이지 > 기부] 에서 기부내역을 확인하실 수 있습니다.
금액에 상관없이 모든 기부자는 당해년도의 기부금 영수증을 신청할 수 있으며, 기부금 영수증 발급을 위한 정보제공에 동의한 회원에 한해 영수증을 발급받을 수 있습니다.
betman과 사회복지공동모금회의 기부금 관리 규칙에 따라 기부금은 월단위(1일~해당월 말일)로 적립하여 전달하므로 회원이 기부한 금액은 익월 기부금액으로 귀속됩니다. 이에 기부금 영수증에는 기부 익월 날짜로 표기됩니다. 
기부의 철회 및 해지는 기부를 한 당월(1일~해당월 말일) 내에서만 가능하며, 익월에는 철회 및 해지가 제한됩니다.
5) 기부금의 관리
지정된 기간 동안 모금된 금액은 사회복지공동모금회 서울지회로 전달되며, 기부금 모금 기간은 betman 운영 상에 따라 변경될 수 있으며 변경 시 공지합니다.
모금된 금액은 월간 단위로 스포츠토토온라인 및 사회복지공동모금회가 지원하는 복지사업에 사용되며, 해당 내역은 서비스 페이지를 통해 공지합니다. 
	</textarea>
	<p><input type="checkbox" name="agree" value="agree" /> 약관에 동의합니다</p>

	<br/>
	<h1>개인정보 수집 및 이용</h1>
	<textarea readonly>
■ 개인정보의 수집 및 이용 목적

1) 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
콘텐츠 제공, 구매 및 요금 결제, 물품배송 또는 청구지 등 발송, 금융거래 본인 인증 및 금융 서비스, 요금 추심

2) 회원 관리 
회원제 서비스 이용에 따른 본인확인, 게시물 실명등록, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령확인, 불만처리 등 민원처리, 고지사항 전달

3) 마케팅 및 광고에 활용
신규 서비스(제품) 개발 및 특화, 이벤트 행사에 따른 정보 전달 및 맞춤 서비스 제공, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계

4) 기타
적중금 환급 및 예치금 출금, 국민체육진흥법 및 시행령 등 관련법규 준수(회차당 1인 구매 한도 준수, 청소년 판매금지), 기부자의 기부금 영수증 발급
                		</textarea>
                		<p><input type="checkbox" name="agree" value="agree" /> 약관에 동의합니다</p>
                	</div>
                	<div class="form">
                		<form id="join_member_form" class="cssform" method="post" action="./insertMemberAction.do">
                			<p>
                				<label for="user">아이디</label>
                				<input type="text" name="id" /><input type="button" value="중복확인" class="formbutton" />
                			</p>
                
                			<p>
                				<label for="comments">패스워드</label>
                				<input type="password" name="password" />
                			</p>
                
                			<p>
                				<label for="comments">주민번호</label>
                				<input type="text" name="ssn1" size="7" /> - <input type="text" name="ssn2" size="7" />
                			</p>
                
                			<p>
                				<label for="comments">이름</label>
                				<input type="text" name="name" />
                			</p>
                
                
                			<div class="submit_button">
                				<input type="button" value="회원가입" class="formbutton" onclick="joinMemberFormCheck()" />
                				<input type="reset" value="취소" class="formbutton" />
                			</div>
                		</form>
                	</div>
    		</div>
            <div id="bottom">
        	    <% include ../bottom.ejs %>
            </div>
        </div>
	</body>
</html>