<!DOCTYPE html>
<head>
    <% include ../header.ejs %>
    <script type="text/javascript">
        $(document).ready(function(){
            alert('로그인이 필요합니다');
            window.location.href='/';
        });
    </script>
</head>
<body>
</body>

